<%- include('components/footer.ejs') %>
<h1>home</h1>

<ul>
    <% products.forEach(product=> { %>
        <li><%= product.label> %></li>
   <% })%>
    
</ul>


/**/

<!-- <%- include('components/footer.ejs') %>
<h1>home</h1>

<ul>
    <% products.forEach(product => { %>
        <li><%= product.label %></li>
    <% }) %>
</ul> -->
